/* SCGR */

.form-box {
    width: 600px;
    border: 2px solid black;
    padding: 20px;
    margin: 10px;

    display: inline-block;
}

/* Graph CSS */

h4.scgr-graph-title {
    text-align: center;
    font-size: 4em;
}

div.chart-area {
    border: 2px solid black;
    padding: 15px;
}