/* SCGR */

.form-box {
    width: 600px;
    padding: 20px;
    margin: 10px;

    display: inline-block;
}

#id_custom_weighting_activity1,
#id_custom_weighting_activity2 {
    max-width: 45px;
}

/* Graph CSS */

small.h2-small-link {
    font-size: 0.4em;
}

h4.scgr-graph-title {
    text-align: center;
    font-size: 4em;
}

div.chart-area {
    padding: 15px;
}

/* ERRORS */

p.scgr-error {
    font-style: italic;
    color: orangered;
}