/* SCGR */

.form-box {
    width: 600px;
    border: 2px solid black;
    padding: 20px;
    margin: 10px;

    display: inline-block;
}

.simple {
    border-color: green;
}

.double {
    border-color: red;
}

/* Graph CSS */

h4.scgr-graph-title {
    text-align: center;
    font-size: 4em;
}